@model IEnumerable<GAVILANESJOHAO_EXAMEN.Models.EGavilanes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NacionalEcuatoriano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NacionalEcuatoriano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular.NombreModelo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Nombre">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Nombre">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Nombre">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
