@model IEnumerable<GAVILANESJOHAO_EXAMEN.Models.Celular>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">TU NUEVO CELULAR</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreModelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.año)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreModelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.año)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.IdCelular">Edit</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdCelular">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdCelular">Delete</a>

                </td>
        </tr>
}
    </tbody>
</table>
